# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/


credentials/
*.json
.env

# pytest cache
.pytest_cache/


# Logs
*.log

# IDE settings
.vscode/

# Jupyter Notebooks
.ipynb_checkpoints/
